.l-card-Preview {
    height: 120px;
    border: 2px solid black;
    padding: 8px;
    margin: 10px;
    border-radius: 4px;
}.l-left-Preview {
    width: 49%;
    height: 100%;
    float: left;
    background-color: black;
    border-radius: 4px;
}
.l-right-Preview {
    width: 49%;
    height: 100%;
    float: right;
    background-color: black;
    border-radius: 4px;
}
.l-top-Preview {
    width: 100%;
    height: 49%;
    background-color: black;
    border-radius: 4px;
}
.l-bottom-Preview {
    width: 100%;
    height: 49%;
    background-color: black;
    border-radius: 4px;
    margin-top:2px
}
.part-1
{
    width: 49%;
    height: 100%;
    float: left;
    background: black;
    border-radius: 4px;
}
.part-2
{
    width: 49%;
    height: 100%;
    float: right;
}

.column-object {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after the columns */
  .row-object:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .column-object {
      width: 100%;
    }
  }
 .dp-inline {display: inline-block}
.boxing{box-sizing: border-box;}
.float-left{float:left;}
.float-right{float:right;}
.bg-black{ background-color: black;}
.br-rad4{border-radius: 4px;}
.ht19{height: 19%;}
.ht24{height: 24%;}
.ht32{height: 32%;}
.ht49{height: 49%;}
.ht100{height: 100%;}
.ht120{height: 120px;}
.wt19{width: 19%;}
.wt23{width: 23%;}
.wt24{width: 24%;}
.wt31{width: 31%;}
.wt32{width: 32%;}
.wt49{width: 49%;}
.wt100{width: 100%;}
.p10{padding:10px}
.mlp2{margin-left: 2%;}
.mlp2-6{margin-left: 2.6%;}
.mlp1{margin-left: 1%;}
.mrp1{margin-right: 1%;}
.mt2{margin-top: 2px;}
.mtp2{margin-top: 2%;}
.ml2{margin-left: 2px;}
.ml3{margin-left: 3px;}
.ml4{margin-left: 5px;}
.ml5{margin-left: 5px;}
.ml6{margin-left: 6px;}
.mr2{margin-right: 2px;}
.mb2{margin-bottom: 2px;}

.gjs-cell-object {display: table-cell;height: 75px;}
.gjs-row-object {display: table;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;width: 100%;}
.btn-select{border:1px solid #006cb4;margin-right:20px;background-color:#006cb4;color:white;padding-left:10px;padding-right:10px;}
.btn-select:focus{outline:1px solid #006cb4;}
.btn-select:active{transform: translateY(2px);}
.btn-preview{background-color:white;border:1px solid #006cb4;color:#006cb4;padding-left:10px;padding-right:10px;}
.btn-preview:focus{outline:1px solid #006cb4;}
.btn-preview:active{ transform: translateY(2px);}
