.color-picker-container {
    position: relative;
  }
  .color-picker-palette {
    position: absolute;
    z-index: 100;
  }
  
  .color-picker-cover {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }
  
  .color-picker-color-background {
    position: absolute;
    height: 15px;
    width: 30px;
    background-color: #999999;
    float: left;
    /* right:0; */
    /* border-bottom-right-radius: 2px;
    border-top-right-radius: 2px; */
    margin-top: 3px;
    margin-left:3px;
  }
  .color-picker-color-background-right {
    position: absolute;
    height: 20px;
    width: 35px;
    background-color: #006cb4;
    float: right;
    right:0;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    margin-top: 1px;
  }
  .color-picker-text{ /*height: 35px;border:none;border-bottom: 1px solid lightgray;*/ padding-left: 35px; width: 100%;max-width: 500px;box-sizing: border-box;}
  .frame-style-input{ /*height: 35px;border:none;border-bottom: 1px solid lightgray;*/width: 100%;max-width: 500px;box-sizing: border-box;}