.gjs-toolbar-item{color:white !important;padding:8px;font-size:19px;cursor:pointer;width:auto;vertical-align:middle;display:inline-block}
.gjs-two-color{color:#000}
.gjs-four-color-h:hover{color:#006cb4}
.gjs-one-bg {background-color: #fff;}
.gjs-blocks-c{display:flex;flex-wrap:wrap;justify-content:flex-start}
.gjs-block-categories{display:flex;flex-direction:column}
.gjs-block-category{width:100%}
.gjs-block-category .gjs-caret-icon{margin-right:5px}
.gjs-block{-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;width:45%;min-width:45px;padding:1em;box-sizing:border-box;min-height:90px;cursor:all-scroll;font-size:11px;font-weight:lighter;text-align:center;display:flex;flex-direction:column;justify-content:space-between;border:1px solid rgba(0,0,0,0.2);border-radius:3px;margin:10px 2.5% 5px;box-shadow:0 1px 0 0 rgba(0,0,0,0.15);transition:all 0.2s ease 0s;transition-property:box-shadow, color}
.gjs-block{width:100%!important;flex-direction:initial!important;justify-content:center!important;align-items:center;padding:3px}
.gjs-fonts::before{font-size:25px;margin-right:5px}
.gjs-block.fa{font-size:20px!important;line-height:inherit!important;padding:11px}
.gjs-block.fa .gjs-block-label{margin-left:8px}
.gjs-block-svg{width:30px;margin-right:8px}
.gjs-pn-views-container{right:initial!important;left:0!important;padding:0 0 0!important;top:43px}
.gjs-pn-views{display:none!important}
.gjs-cv-canvas{right:0;left:initial!important}
.gjs-pn-commands{width:100%}
.gjs-pn-devices-c{right:0}
.fa-desktop,.fa-eye{color:#006cb4}
.header{position:absolute;z-index:9;padding:6px;justify-content:center;align-items:center;display:flex}
.header span{font-size:19px;margin-right:6px;margin-left:13px;text-transform:uppercase;font-weight:700}
.header select{border:1px solid #e1e1e1;padding:2px;width:100px;    border-radius: 4px;}
iframe body.gjs-dashed{background-color:#fff!important}
.gjs-pn-views-container{left:0!important}
.gjs-block-category .gjs-title,.gjs-category-title,.gjs-clm-tags .gjs-sm-title,.gjs-layer-title,.gjs-sm-sector .gjs-sm-title{color:#000!important;font-size:15px;margin:auto;text-align:left}
.gjs-block-category .gjs-block-c{display:inline!important}
.gjs-block{width:'100%'!important;flex-direction:row;padding:0;padding-left:4px;font-size:7px;min-height:35px;margin:1!important;border-radius:0}
/* .gjs-block-label{display:flex;align-items:center;width:100%} */
.gjs-block-label{display:flex;align-items:center;width:100%;font-size:14px;margin-left:4px;margin-top:auto;margin-bottom:auto;margin-right:auto;text-align:left!important}
.gjs-cv-canvas{right:0!important;box-sizing:border-box;width:85%;height:calc(100% - 40px);bottom:0;overflow:hidden;z-index:1;position:absolute;right:0;top:40px}
.gjs-pn-devices-c{right:0!important}
.gjs-pn-btn.fa-tablet{display:none}
.gjs-pn-btn.fa-desktop,.gjs-pn-btn.fa-mobile{font-size:30px!important}
.gjs-pn-views-container{padding-top:0}
.fa-clock-o,.fa-link,.fa-map-o,.fa-quote-right,.fa-youtube-play,.gjs-block.gjs-one-bg.gjs-four-color-h,.gjs-f-b1,.gjs-f-b2,.gjs-f-b3,.gjs-f-b37,.gjs-f-h1p,.gjs-f-image,.gjs-f-text,div.fa-link,div.gjs-block{width:100%;border:1 px solid #000}
.gjs-block.fa{padding:0;padding-left:10px;line-height:27px!important}
.gjs-editor-cont ::-webkit-scrollbar{width:4px;background-color:transparent}
.gjs-pn-btn{color:#000!important}
.gjs-pn-options{right:7%}
.gjs-pn-btn.fa-arrows-alt{display:none}
.gjs-pn-btn.fa-code{display:none}
/*.gjs-pn-btn.fa-undo{display:none}.gjs-pn-btn.fa-repeat{display:none}*/
.gjs-pn-btn.fa-download{display:none}
.gjs-pn-btn.fa-trash{display:block;font-size: 25px}
.gjs-pn-btn.fa-eye{border:1px solid #006CB4;padding-left:10px;padding-right:10px;min-width:100px;width:100px;min-height:25px;text-align:right;padding:1px 3px 1px 1px;color:#006CB4!important}
.gjs-pn-btn.fa-eye:before{content:"Preview \f06e"}
.gjs-pn-commands{width:100%!important}
.gjs-pn-views{display:none}gjs-block{margin: 5px 2.5% 5px !important;}
.gjs-wrapper-template{width:100%;height:50%;border:1px solid #006CB4;padding:5px;}
.gjs-block-category:nth-child(4){display:none}
.gjs-block-category:nth-child(5){display:none}
.gjs-block-category:nth-child(6){display:none}
.btnSv{border:1px solid #006CB4;padding-left:10px;padding-right:10px;min-width:100px;width:100px;min-height:25px;padding:1px 3px 1px 1px;color:#fff !important;background-color:#006CB4;font-family: times new roman !important;right: 310px;margin-top: 0;}
.btnSv:before{content:"Save"}
.gjs-pn-btn.fa-square-o{display:none;}
.gjs-toolbar{left:45% !important;border-radius:8px;}
#gjs-clm-new{background-color:black;}
.btnSv:hover{box-shadow: 0 3px 10px 0 rgba(0,0,0,.25);}
.btnSv:active {transform: translateY(2px);}
.gjs-pn-buttons span:active{   transform: translateY(2px);}
.gjs-row{display:table;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;width:100%;}
.gjs-cell{border:2px dotted orange !important;margin:5px;} 
.gjs-blocks-no-cat{display:none;}
/* .gjs-row{border: 2px dotted blue !important;}
.gjs-cell{border: 2px dotted orange !important;} */

.accordion-container  a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
 }
 .accordion-container.active a:before {
     -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
     transform: rotate(180deg);
 } 
 